set.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
	name="TimeCatcher"
	targetNamespace="http://tracktime.zetweb.com.ua/ws/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://tracktime.zetweb.com.ua/ws/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd="http://tracktime.zetweb.com.ua/ws/types/"
>
	<types>
		<schema targetNamespace="http://tracktime.zetweb.com.ua/ws/types/" xmlns="http://www.w3.org/2001/XMLSchema">
			<simpleType name="ApiKey">
				<restriction base="string">
					<length value="32" fixed="true"/>
					<pattern value="[0-9a-z]"/>
				</restriction>
			</simpleType>
			
			<complexType name="TaskId">
				<sequence>
					<element name="task_id" type="unsignedInt"/>
					<element name="api_key" type="xsd:ApiKey"/>
				</sequence>
			</complexType>
			
			<complexType name="TaskList">
				<sequence>
					<element name="task" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<sequence>
								<element name="id" type="unsignedInt"/>
								<element name="project_id" type="unsignedInt"/>
								<element name="project_name" type="string"/>
								<element name="priority_id" type="unsignedInt"/>
								<element name="priority" type="string"/>
								<element name="name" type="string"/>
								<element name="due_date" type="date"/>
								<element name="actual_time" type="string"/>
							</sequence>
						</complexType>
					</element>
					<element name="total" type="unsignedInt"/>
				</sequence>
			</complexType>
			
			<element name="CheckVersionInput" type="string"/>
			<element name="CheckVersionOutput" type="boolean"/>
			
			<element name="GetTaskListInput" type="xsd:ApiKey"/>
			<element name="GetTaskListOutput" type="xsd:TaskList"/>
			
			<element name="StartTaskExecInput" type="xsd:TaskId"/>
			<element name="StartTaskExecOutput" type="int"/>
			
			<element name="UpdateTaskExecTimeInput" type="xsd:TaskId"/>
			<element name="UpdateTaskExecTimeOutput" type="int"/>
			
			<element name="StopTaskExecInput" type="xsd:TaskId"/>
			<element name="StopTaskExecOutput" type="int"/>
			
			<element name="FinishTaskInput" type="xsd:TaskId"/>
			<element name="FinishTaskOutput" type="int"/>
		</schema>
	</types>
	
	<message name="CheckVersionRequest">
		<part name="input" element="xsd:CheckVersionInput"/>
	</message>
	
	<message name="CheckVersionResponse">
		<part name="output" element="xsd:CheckVersionOutput"/>
	</message>
	
	<message name="GetTaskListRequest">
		<part name="input" element="xsd:GetTaskListInput"/>
	</message>
	
	<message name="GetTaskListResponse">
		<part name="output" element="xsd:GetTaskListOutput"/>
	</message>
	
	<message name="StartTaskExecRequest">
		<part name="input" element="xsd:StartTaskExecInput"/>
	</message>
	
	<message name="StartTaskExecResponse">
		<part name="output" element="xsd:StartTaskExecOutput"/>
	</message>
	
	<message name="UpdateTaskExecTimeRequest">
		<part name="input" element="xsd:UpdateTaskExecTimeInput"/>
	</message>
	
	<message name="UpdateTaskExecTimeResponse">
		<part name="output" element="xsd:UpdateTaskExecTimeOutput"/>
	</message>
	
	<message name="StopTaskExecRequest">
		<part name="input" element="xsd:StopTaskExecInput"/>
	</message>
	
	<message name="StopTaskExecResponse">
		<part name="output" element="xsd:StopTaskExecOutput"/>
	</message>
	
	<message name="FinishTaskRequest">
		<part name="input" element="xsd:FinishTaskInput"/>
	</message>
	
	<message name="FinishTaskResponse">
		<part name="output" element="xsd:FinishTaskOutput"/>
	</message>
	
	<portType name="TimeCatcherInterface">
		<operation name="CheckVersion">
			<input message="tns:CheckVersionRequest"/>
			<output message="tns:CheckVersionResponse"/>
		</operation>
		
		<operation name="GetTaskList">
			<input message="tns:GetTaskListRequest"/>
			<output message="tns:GetTaskListResponse"/>
		</operation>
		
		<operation name="StartTaskExec">
			<input message="tns:StartTaskExecRequest"/>
			<output message="tns:StartTaskExecResponse"/>
		</operation>
		
		<operation name="UpdateTaskExecTime">
			<input message="tns:UpdateTaskExecTimeRequest"/>
			<output message="tns:UpdateTaskExecTimeResponse"/>
		</operation>
		
		<operation name="StopTaskExec">
			<input message="tns:StopTaskExecRequest"/>
			<output message="tns:StopTaskExecResponse"/>
		</operation>
		
		<operation name="FinishTask">
			<input message="tns:FinishTaskRequest"/>
			<output message="tns:FinishTaskResponse"/>
		</operation>
	</portType>
	
	<binding name="TimeCatcherBinding" type="tns:TimeCatcherInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<operation name="CheckVersion">
			<soap:operation soapAction="http://tempuri.org/CheckVersion"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		
		<operation name="GetTaskList">
			<soap:operation soapAction="http://tempuri.org/GetTaskList"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		
		<operation name="StartTaskExec">
			<soap:operation soapAction="http://tempuri.org/StartTaskExec"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		
		<operation name="UpdateTaskExecTime">
			<soap:operation soapAction="http://tempuri.org/UpdateTaskExecTime"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		
		<operation name="StopTaskExec">
			<soap:operation soapAction="http://tempuri.org/StopTaskExec"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		
		<operation name="FinishTask">
			<soap:operation soapAction="http://tempuri.org/FinishTask"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	
	<service name="TimeCatcherService">
		<port name="TimeCatcherEndpoint" binding="tns:TimeCatcherBinding">
			<soap:address location="http://tracktime.zetweb.com.ua/ws/index.php"/>
		</port>
	</service>
</definitions>